<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.196928 -1.29307 0.588078" rpy="1.58233 3.03604 -1.51923" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.196928 -1.29307 0.588078   -0.456253 0.534882 0.489416 0.515952 fr3_link0 camera_color_optical_frame" />
</launch>
