<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0660498 -1.26016 0.207357" rpy="1.69277 3.10192 -3.13429" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0660498 -1.26016 0.207357   -0.662504 0.0172759 -0.0104113 0.748787 fr3_link0 camera_color_optical_frame" />
</launch>
