<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.086272 -1.29732 0.153598" rpy="1.63734 -3.0762 -1.5346" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.086272 -1.29732 0.153598   -0.491199 0.474917 0.54084 0.49058 fr3_link0 camera_color_optical_frame" />
</launch>
