<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.089645 -1.31079 0.386966" rpy="1.56255 -3.08519 -3.07775" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.089645 -1.31079 0.386966   -0.710008 0.00280689 0.0424741 0.702906 fr3_link0 camera_color_optical_frame" />
</launch>
