<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.314286 0.910117 0.515363" rpy="1.55219 -0.00967103 -1.54666" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.314286 0.910117 0.515363   0.503672 0.486838 -0.500922 0.508311 fr3_link0 camera_color_optical_frame" />
</launch>
