<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0427538 -1.27291 0.210928" rpy="1.7008 3.11719 -3.11178" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0427538 -1.27291 0.210928   -0.659424 0.0190012 0.00315452 0.751525 fr3_link0 camera_color_optical_frame" />
</launch>
