<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="1.07749 -0.0559765 0.30547" rpy="1.33418 -1.63151 2.93367" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="1.07749 -0.0559765 0.30547   -0.525035 -0.481092 0.488741 0.504005 fr3_link0 camera_color_optical_frame" />
</launch>
